
.userSearchBlock{

    display:block;
    width: 50%;
    position: absolute;
    top: 20%;
    height: 60%;
    left:25%;
    border: 1px solid #002C43;

}

.userSearchBlock > .userInfo{

    display: block;
    color: #002C43;
    font-weight: bold;
    width: 90%;
    margin: 1em auto;

}
.userSearchBlock > .iptUserSearch{

    display: block;
    width: 80%;
    margin: auto;
}

.userSearchBlock .errorField{


    



}